# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml
*.swp
*.swo

# Java / Maven (catalogue)
services/catalogue/target/
*.jar
*.class

# Node.js (frontend, notification)
node_modules/
dist/
.angular/

# Python (payment)
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup

# Coverage reports
coverage/

# Environment
.env
*.log
